.App {
  text-align: center;
}

.mainPageLinkInput {
  width: 200px;
}

.mainPageLinkInputButton {
  margin: 5px 0 0 20px;
  /* width: 50px; */
  height: 20px;
}

.videoListContainer {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.oneVideoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
